@font-face {
	font-family: 'stampwriter';
	src: url(./fonts/STAMPWRITER-KIT.eot) format('eot'),
		url(./fonts/STAMPWRITER-KIT.woff) format('woff'),
		url(./fonts/STAMPWRITER-KIT.ttf) format('truetype'),
		url(./fonts/STAMPWRITER-KIT.svg) format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	font-family: 'stampwriter' !important;
}
body {
	background-color: blanchedalmond;
}
