.message-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0 3%; /* pulls messages off the left and right a bit */
}

.user {
}

.recipient {
	justify-content: flex-start;
}

.user-sender-name {
	margin: 0;
}

.sender-name {
	margin: 0;
}
