.messages {
	padding-top: 2%;
	overflow: auto;
	flex: auto;
	font-size: 15px;
}

.message-container {
	display: flex;
	justify-content: flex-start;
	padding: 0.5% 3%; /* pulls messages off the left and right a bit */
}

.sender-name {
	margin: 0;
	height: 20px;
	white-space: nowrap;
}

.message-box {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 20px;
}

.message-text {
	padding-left: 0.5em;
}

.blue {
	color: blue;
}
