.home-user-interface-container {
	height: 50px;
	width: 100%;
	background-color: white;
}

.inline-flexed-content-container {
	display: inline-flex;
	height: 95%;
	max-width: 100%;
	border-bottom: 2px solid black;
	font-size: 18px;
}

.vertical-static-menu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 20%;
	height: 100%;
	background-color: rgb(121, 108, 89);
	border-right: 2px solid black;
}

.ui-sandbox {
	display: flex;
	width: 80%;
}

.logged-in-username-footer {
	display: flex;
	width: 100%;
	height: 5%; /* goes in conjunction with the inline-flexed-container to combine for 100% */
	min-height: 30px;
	justify-content: space-between;
	align-items: center;
	font-size: 24px;
}

.username-wrapper {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	max-width: 50%;
	max-height: 100%;
	padding-left: 18px;
}

.username-wrapper-img > img {
	width: 45px;
	height: 45px;
	margin-right: -10px;
}

.username-wrapper-name {
	font-weight: 800;
}

.rmv-margin {
	margin-right: 0;
}

.status-icon-center {
	justify-content: center;
}

.ui-sandbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.basic:nth-child(1),
div.basic:nth-child(2),
div.basic:nth-child(3) {
	margin-right: 0px;
}

@media only screen and (max-height: 745px) {
	.logged-in-username-footer {
		font-size: 16px;
	}
	.username-wrapper-img > img {
		width: 30px;
		height: 30px;
		margin-right: -7px;
	}
}
