.message-participants-wrapper-container {
	display: inline-flex;
	flex: auto;
	height: 100%;
	overflow: auto;
	max-width: 100%;
}

.messages {
	padding-top: 2%;
	height: auto;
	width: 100%;
	font-size: 1.1rem;
}

.shorten {
	width: 80%;
}

.full {
	max-width: 100%;
}

.message-container {
	display: flex;
	justify-content: flex-start;
	padding: 0px 0px 5px 1.5rem; /* pulls messages off the left and bottom a bit */
	flex-shrink: 2;
	height: auto;
	max-width: 100%;
}

.sender-name {
	margin: 0;
	height: 20px;
	white-space: nowrap;
}

.message-box {
	display: flex;
	justify-content: flex-start;
	max-width: 90%;
	height: auto;
	overflow-wrap: break-word;
}

.message-text {
	padding-left: 0.5em;
	width: 100%;
	/* ensures that the text will break if it reaches the maximum width. */
	word-wrap: break-word;
	text-align: left;
}

.blue {
	color: blue;
}

.participants {
	width: 20%;
}

.participants-header-wrapper {
	display: flex;
	flex-direction: column;
	background-color: rgb(121, 108, 89);
	width: 100%;
	min-height: 10%;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

.participants-header-container {
	display: flex;
	width: 100%;
	height: 100%;
	/* justify-content: flex-end; */
}
