.chatroom-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.chatroom-wrapper {
	display: inline-flex;
}

.white-background-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: blanchedalmond;
	height: 55vh;
	width: 85%;
	border-radius: 5px;
}

.chat-header-flex-container {
	display: inline-flex;
	min-height: 10%;
	background-color: rgb(121, 108, 89);
	border-radius: 5px 5px 0 0;
}

.chat-header-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: rgb(121, 108, 89);
	width: 100%;
	min-height: 10%;
	flex: none;
	border-bottom: 2px solid black;
}

.left-side-header-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
	margin-left: 2%;
}

.right-side-header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 50%;
	margin-right: 2%;
}

.right-side-header-container img {
	width: 24px;
	height: 24px;
}

.no-style {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.middle {
	display: flex;
	justify-content: center;
	margin: auto;
}

form.ui.action.input.chat > input {
	background: #fff3e1;
}
