* {
	font-family: 'stampwriter' !important;
}
body {
	background-color: #191714;
}

#vertical-container {
	height: 100vh;
	width: 100%;
}

.guest-login-background-container {
	display: flex;
	flex-direction: column;
	background-color: blanchedalmond;
	width: 65%;
	margin: 1em 0;
	padding: 1em;
	border-radius: 0.3rem;
	box-shadow: 0px -4px 10px #4c463d;
}

.guest-login-background-container label {
	text-align: center;
}

.guest-login-background-container input {
	border: none;
}

.ui.form input[type='text'] {
	background: blanchedalmond;
	border-color: black;
}

.ui.form input[type='text']:focus {
	background: blanchedalmond;
	border-color: black;
}

.ui.form .field.error input[type='text'],
.ui.form .fields.error .field input[type='text'] {
	background: blanchedalmond;
	border-color: red;
}

.ui.warning.message {
	background-color: #ecdeca;
	color: black;
	text-align: center;
}
