.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-auth-form-background {
	display: flex;
	flex-direction: column;
	background-color: blanchedalmond;
	width: 600px;
	min-height: 30vh;
	padding: 16px 20px; /* top and bottom - 16px left and right 5 percent */
	border-radius: 5px;
}
.user-auth-guest-wrapper {
	display: inline-flex;
	max-width: 100%;
}

.user-auth-input {
	margin: 20px 10px;
}

.lowered {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.register-buttons-wrapper {
	display: flex;
	justify-content: space-between;
}
/* image with form is a flex item/container that exists in an inline-flex parent container (user-auth-guest-container) */
div.img-with-form {
	display: flex;
	justify-content: center;
	max-width: 50%;
}

div.img-with-form > img {
	height: 75%;
	max-width: 100%;
}

.ui.form input[type='password'] {
	background: blanchedalmond;
	border-color: black;
}

.ui.form input[type='password']:focus {
	background: blanchedalmond;
	border-color: black;
}

.ui.form .field.error input[type='password'],
.ui.form .fields.error .field input[type='password'] {
	background: blanchedalmond;
	border-color: red;
}
