/* Styles applied to register component */
.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-auth-form-background {
	display: flex;
	flex-direction: column;
	background-color: blanchedalmond;
	width: 600px;
	min-height: 30vh;
	padding: 16px 20px; /* top and bottom - 16px left and right 5 percent */
	border-radius: 5px;
}
.user-auth-guest-wrapper {
	display: inline-flex;
	max-width: 100%;
}

.user-auth-input {
	margin: 20px 10px;
}

.user-auth-buttons-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.lowered {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.lowered-auth {
	display: flex;
	flex-direction: column;
	width: 65%;
}
.register-buttons-wrapper {
	display: flex;
	justify-content: space-between;
}
/* image with form is a flex item/container that exists in an inline-flex parent container (user-auth-guest-container) */
div.img-with-form {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 250px;
	max-height: 250px;
}

div.img-with-form > img {
	min-height: 100%;
	min-width: 100%;
	margin-left: 16px;
}

.ui.form input[type='password'] {
	background: blanchedalmond;
	border-color: black;
}

.ui.form input[type='password']:focus {
	background: blanchedalmond;
	border-color: black;
}

.ui.form .field.error input[type='password'],
.ui.form .fields.error .field input[type='password'] {
	background: blanchedalmond;
	border-color: red;
}

/* Styles applied to login component */

.user-auth-form-background-login {
	display: flex;
	flex-direction: column;
	background-color: blanchedalmond;
	min-width: 368px;
	min-height: 416px;
	width: 35.2vh;
	height: 40vh;
	padding: 16px 20px; /* top and bottom - 16px left and right 5 percent */
	border-radius: 20px;
	overflow: hidden;
}

.typewriter-container-login {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	height: calc(20px + 1.5vh);
}
.chatterly-logo-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 60px;
}

.chatterly-logo-wrapper > img {
	max-width: 100%;
	height: 100%;
}

.auth-form-login-title-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}

.user-auth-input-login {
	width: 100%;
}
.auth-form-typewriter-title {
	text-align: center;
	font-size: 2em;
	height: 26px;
	font-weight: 900;
}

.user-auth-login-form-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 16px;
}

.login-buttons-container {
	max-width: 60%;
}

.login-buttons-wrapper {
	display: flex;
	justify-content: space-around;
	max-width: 100%;
	margin-top: 16px;
}

.typewriter-container-login {
	margin: auto;
}

@media only screen and (max-height: 1204px) {
	.auth-form-typewriter-title {
		font-size: 1.5em;
	}
}
