.circle {
	background: black;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	box-shadow: 0px 0px 5px black;
}

.participant-name-status-container {
	display: inline-flex;
	justify-content: space-around;
	height: 30px;
	max-width: 100%;
}

.participant-name-status-container h6 {
	margin: 0;
}

.username-handle-container {
	display: flex;
	align-items: center;
	font-size: 1rem;
	width: 80%;
	white-space: nowrap;
}

.username-handle-container > h3 {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.status-icon-container {
	display: flex;
	align-items: center;
	width: 10%;
}

.green {
	background-color: #409c52;
}

.greyed {
	background-color: rgba(220, 220, 220, 0.1);
}
