* {
	font-family: 'stampwriter' !important;
}
body {
	background-color: rgb(29, 24, 24);
}

#vertical-container {
	height: 100vh;
	width: 100%;
}
.home-background-container {
	display: flex;
	flex-direction: column;
	background-color: blanchedalmond;
	width: 65%;
	margin: 1em 0;
	padding: 1em;
	border-radius: 0.3rem;
	box-shadow: 0px -3px 5px #888888;
}

.home-background-container label {
	text-align: center;
}

.home-background-container input {
	background-color: blanchedalmond;
}
